.swiper {
  width: 1920px;
  height: 520px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  left: 50%;
  margin-left: -960px;
}
.swiper .swiper-box {
  width: 12000px;
  height: 520px;
  position: absolute;
  top: 0;
  left: 0;
}
.swiper .swiper-box .swiper-item {
  width: 1920px;
  height: 520px;
  float: left;
}
.swiper .swiper-box .swiper-item a {
  display: block;
  width: 100%;
  height: 520px;
  background-position: center center;
  background-size: 1920px auto;
  overflow: hidden;
}
.swiper .swiper-box .swiper-item1 a {
  background: url(../images/swiper1.jpg) no-repeat;
}
.swiper .swiper-box .swiper-item2 a {
  background: url(../images/swiper2.jpg) no-repeat;
}
.swiper .swiper-box .swiper-item3 a {
  background: url(../images/swiper3.jpg) no-repeat;
}
.swiper .swiper-box .swiper-item4 a {
  background: url(../images/swiper4.jpg) no-repeat;
}
.swiper .swiper-tab {
  position: absolute;
  top: 470px;
  left: calc(50% - 60px);
  width: 120px;
  height: 30px;
}
.swiper .swiper-tab ul li {
  width: 15px;
  height: 15px;
  float: left;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #000;
  opacity: 0.3;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper .swiper-tab .swiper-current {
  opacity: 1;
  background-color: #3c79af;
}
.bodys {
  width: 1200px;
  margin: 46px auto;
  overflow: hidden;
}
.bodys .b-item {
  width: 280px;
  float: left;
  margin: 0 7px;
  cursor: pointer;
}
.bodys .b-item:hover h3 {
  color: #3c79af;
}
.bodys .b-item .b-img {
  width: 280px;
}
.bodys .b-item .b-img img {
  width: 280px;
  height: auto;
}
.bodys .b-item h3 {
  font-size: 18px;
  padding: 16px 0 12px 0;
}
.bodys .b-item p {
  color: #666;
  font-size: 14px;
}
